<!DOCTYPE html>
<html>
<head>
	<title>viewcontacs</title>
	<style type="text/css">
body{
    background-color:#F5DEB3;
  }
  </style>
</head>
<body>
	<h1 align="center"><strong>Bengaluru City Police, Police Stations and Helpline Contact Numbers</strong></h1>
	<h2 align="center">Emergency Helpline – <strong>100</strong> , Traffic Helpline – <strong>1095</strong> , Children Helpline – <strong>1098</strong> , Women Helpline – <strong>1091</strong></h2>
	<table>
		<thead>
			<tr>
				<td>Division</td>
				<td>Subdivision</td>
				<td>Police Station</td>
				<td>Phone Number</td>
				<td>Email Id</td>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Central</td>
				<td>Cubbonpark</td>
				<td>Ashoknagar</td>
				<td>080 22942076</td>
				<td>anagarbcp@ksp.gov.in</td>
			</tr>
			<tr>
				<td>Central</td>	<td>Cubbonpark</td>	<td>Cubbon Park</td>	<td>080 22942087</td>	<td>cparkbcp@ksp.gov.in</td>
			</tr>
			<tr>
				<td>
					Central</td>	<td>Cubbonpark</td>	<td>Vidhana Soudha</td>	<td>080 22942086</td>	<td>vsoudhabcp@ksp.gov.in
				</td>
			</tr>
			<tr>
				<td>Central</td>	<td>Cubbonpark</td>	<td>Viveknagar</td>	<td>080 22942080</td>	<td>vknagarbcp@ksp.gov.in</td>
			</tr>
			<tr>
				<td>Central</td>	<td>Halasoor Gate</td>	<td>Halasoor Gate</td>	<td>080 22942075</td>	<td>hgatebcp@ksp.gov.in</td>
			</tr>
			
			<tr>
				<td>East</td>	<td>Halasoor</td>	<td>Indiranagar</td>	<td>080 22942541</td>	<td>inagarbcp@ksp.gov.in</td>
			</tr>
			<tr>
				<td>East</td>	<td>Halasoor</td>	<td>Halasoor</td>	<td>080 22942540</td>	<td>halasoorbcp@ksp.gov.in</td>
				
			</tr>
			<tr>
				<td>North	<td>Yeshwanthapura</td>	<td>Gangammanagudi</td>	<td>080 22942530</td>	<td>gggudibcp@ksp.gov.in</td>
			</tr>
			<tr>
				<td>North	<td>J.C. Nagar</td>	<td>J.C. Nagar</td>	<td>080 22942534</td>	<td>jcnagarbcp@ksp.gov.in</td>
			</tr>
			<tr>
				<td>South	<td>Jayanagar</td>	<td>Basavanagudi</td>	<td>080 22942561</td>	<td>bgudibcp@ksp.gov.in</td>
			</tr>
		</tbody>
	</table>

</body>
</html>