<!DOCTYPE html>
<html>
<head>
	<title>records</title>
	<style type="text/css">
    body{

    background-color:#F5DEB3;
  
    }
	#Username
{
	width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
#password{
	width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 3%;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-bottom:10px;
  opacity: 0.8;
}
</style>
</head>
<body>
	<form>
	<label for="Username"><b>Firstname:</b></label>
    <input id="Username" type="text" placeholder="Enter Firstname" required>
    <label for="password"><b>Lastname:</b></label>
    <input id="password" type="text" placeholder="Enter Lastname" required>
    <div align="center"><button type="submit" formaction="police.html"class="btn">Submit</button></div>
</form>

</body>
</html>
